<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956002233504-3h7qulsgi728582s2qde3oap32jaj6q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956002233504-3h7qulsgi728582s2qde3oap32jaj6q7</string>
	<key>API_KEY</key>
	<string>AIzaSyBM6wK1PS9aPVPA6qaujcyGOku4KdEQWPA</string>
	<key>GCM_SENDER_ID</key>
	<string>956002233504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-famaddela</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-famaddela.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956002233504:ios:103ec266e99c5462af2dc5</string>
</dict>
</plist>